/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

/* header */
header {    
    font-family: Helvetica, sans-serif;
}
#sony{
    background-color: #000;
    text-align: end;
    padding: .4rem;
    line-height: 0;
}
#sony img{
    height: 1.2rem;
    cursor: pointer;
}
header .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 2.5rem;
    background-color: #fff;
}
header nav .container-fluid div:last-child{
    flex-grow: 0;
}
#search img{
    width: 55%;
}
header .navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
/* classe btn modifiche */
.ms_btn{
    border-radius: 1.25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.ms_btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
/* effetti hover con effetto inset della sez header */
header .navbar-light .navbar-nav .nav-link:hover {
    color: #2d64e6;
}
.ms_btn-dark:hover {
    border: 2px solid #999;
    box-shadow: inset 0px 0px 0px 2px #fff;
    background-color: #999;
}

/* Jumbotron style */
#jumbo-bg{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-top: 400px; */
    background-size: cover;
}
#jumbotron, #adventure{  
    color: #fff;
}
#jumbotron{  
    padding-top: 98.4px;
}
#jumbotron>#jumbo-bg>.container>.row, #adventure>#adv-bg>.container>.row{
    min-height: 500px;
}
.ms_banner > img{
    max-width: 60%;
    padding-bottom: 20px;
}
.ms_btn-red{
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}


#jumbotron div:nth-child(2) img{
    width: 100%;
    border-radius: 1.25rem;
    padding: .25rem;
    border: 1px solid transparent;
    margin-top: 0.5rem;
    transition: all 1s;
}

/* effetti hover outset della sez jumbo */
/* .ms_btn-red:hover {
    border: 2px solid #000;
    box-shadow: 0px 0px 0px 2px #dd4d21;
} */
/* effetto hover inset */
.ms_btn-red:hover {
    border: 2px solid #dd4d21;
    box-shadow: inset 0px 0px 0px 2px #000;
}



#jumbotron div:nth-child(2) img:hover{
    margin-top: 0;
}

#jumbotron div:nth-child(2) img.active{
    border-color: #2d64e6;
}

/* presentation e explore e sales e social*/
.ms_sez-white h2{
    padding-bottom: 1rem;
}
.ms_sez-white h5{
    color: #9d9d9d;
    margin-bottom: 1rem;
}
.ms_sez-white h6{
    color: #68aae1;
}
.ms_btn-blue{
    color: #fff;
    background-color: #2d64e6;
    border-color: #2d64e6;
}
.ms_sez-white img{
    width: 100%;
}

/* effetti hover e select della sezione presentation */
#presentation .container div:nth-child(3) .col>img {
    opacity: .8;
}
#presentation .container div:nth-child(3) .col>img:hover {
    opacity: 1;
}

#presentation .select{
    border-bottom: 3px solid #2d64e6;
}
#presentation .container div:nth-child(3) .col.select>img{
    opacity: 1;
}
/* effetto hover outset button blue */
/* .ms_btn-blue:hover{
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 2px #2d64e6;
} */
/* effetto inset button blue */
.ms_btn-blue:hover{
    border: 2px solid #2d64e6;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

@media all and (min-width:992px) {
    .ms_container-lg{
        width: 60%;
        margin: 0 auto;
    }
}

/* sezione adventure */
#adv-bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-top: 400px; */
    background-size: cover;
}

/* sezione neew releases */
#new-releases{
    background-color: #1f1f1f;
    color: #fff;
}

#new-releases img{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 15px;
    cursor: pointer;
}

/* sezione PS+ e PS Now */
#ps-plus{
    background-color: #bebcbb;
}
#ps-now{
    background-color: #161c3b;
    color: #fff;
}
.ms_sez-ps{
    padding: 2rem 0;
}
.ms_sez-ps img{
    width: 100%;
    padding-bottom: 2rem;
}
.ms_btn-grey{
    background-color: #d9dadc;
    color: #2d64e6;
}
.ms_btn-light-grey{
    background-color: #f5f5f5;
    color: #000;
}

/* effetti hover sezione PS+ PS Now */
.ms_btn-grey:hover{
    /* border: 2px solid #bebcbb; */
    box-shadow: 0px 0px 10px 2px #d9dadc;
}
.ms_btn-light-grey:hover{
    border: 2px solid #f5f5f5;
    box-shadow: inset 0px 0px 0px 2px #161c3b;
}
/* footer */
footer{
    background-color: #07439c;
    color: #fff;
    padding: 4rem 0;
}
footer>.container>.row>.col-12.col-lg-6>img:first-child{
    margin-bottom: 2rem;
    display: block;
}
footer>.container>.row>.col-12.col-lg-6>img:nth-child(2){
    height: 1rem;
    margin-right: .6rem;
}

footer ul{
    list-style: none;
}
footer .container .row:nth-child(2) .col-12.col-lg-6 img{
    height: 2.5rem;
    display: block;
}
footer .container div:last-child div p>a{
    text-decoration: underline;
}

/* effetti hover del footer */
footer a:hover{
    text-decoration: none;
    color: rgb(223, 223, 223);
}