/* debug */
/* [class*="col-"]{
    min-height: 20px;
    background-color: rgb(67, 67, 247);
    border: 1px solid #fff;
} */
.row>{
    min-height: 40px;
    background-color: rgb(49, 247, 125);
    border: 1px solid #000;
}

/* [class*="container"]{ 
    min-height: 60px;
    background-color: bisque;
    border: 1px solid #fff;
} */

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {    
    font-family: Helvetica, sans-serif;
}
#sony{
    background-color: #000;
    color: #fff;
    text-align: end;
    font-size: 1.2rem;
    padding: 1.2rem;
    letter-spacing: .3rem;
    line-height: 0;
}
header .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 2.5rem;
}
header nav .container-fluid div:last-child{
    flex-grow: 0;
}
#search img{
    width: 55%;
}
header .navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
/* classe btn modifiche */
.ms_btn{
    border-radius: 1.25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.ms_btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

/* Jumbotron style */
#jumbo-bg{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 400px;
    background-size: cover;
    /* margin-bottom: 30px;    */
}
#jumbotron{
    /* min-height: 550px; */
    color: #fff;   
}
#jumbotron #ms_jumbo-banner{
    width: 30%;
}
.ms_btn-red{
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}
#jumbotron img{
    width: 100%;
    border-radius: 10px;
}


/* presentation  */
#presentation h2{
    padding-bottom: 1rem;
}
#presentation h5{
    color: #9d9d9d;
    margin-bottom: 1rem;
}
#presentation h6{
    color: #68aae1;
}
.ms_btn-blue{
    color: #fff;
    background-color: #2d64e6;
    border-color: #2d64e6;
}
#presentation img{
    width: 100%;
}