/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {    
    font-family: Helvetica, sans-serif;
}
#sony{
    background-color: #000;
    text-align: end;
    padding: .4rem;
    line-height: 0;
}
#sony img{
    height: 1.2rem;
}
header .navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    line-height: 2.5rem;
    background-color: #fff;
}
header nav .container-fluid div:last-child{
    flex-grow: 0;
}
#search img{
    width: 55%;
}
header .navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
/* classe btn modifiche */
.ms_btn{
    border-radius: 1.25rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
}
.ms_btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

/* Jumbotron style */
#jumbo-bg{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-top: 400px; */
    background-size: cover;
}
#jumbotron, #adventure{  
    color: #fff;
}
#jumbotron{  
    padding-top: 98.4px;
}
#jumbotron>#jumbo-bg>.container>.row, #adventure>#adv-bg>.container>.row{
    min-height: 500px;
}
.ms_banner > img{
    max-width: 45%;
    padding-bottom: 20px;
}
.ms_btn-red{
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}
#jumbotron img{
    width: 100%;
    border-radius: 10px;
}


/* presentation e explore e sales e social*/
.ms_sez-white h2{
    padding-bottom: 1rem;
}
.ms_sez-white h5{
    color: #9d9d9d;
    margin-bottom: 1rem;
}
.ms_sez-white h6{
    color: #68aae1;
}
.ms_btn-blue{
    color: #fff;
    background-color: #2d64e6;
    border-color: #2d64e6;
}
.ms_sez-white img{
    width: 100%;
}

@media all and (min-width:992px) {
    .ms_container-lg{
        width: 60%;
        margin: 0 auto;
    }
}

/* sezione adventure */
#adv-bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* padding-top: 400px; */
    background-size: cover;
}

/* sezione neew releases */
#new-releases{
    background-color: #1f1f1f;
    color: #fff;
}
#new-releases img{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 15px;
}

/* sezione PS+ e PS Now */
#ps-plus{
    background-color: #bebcbb;
}
#ps-now{
    background-color: #161c3b;
    color: #fff;
}
.ms_sez-ps{
    padding: 2rem 0;
}
.ms_sez-ps img{
    width: 100%;
    padding-bottom: 2rem;
}
.ms_btn-grey{
    background-color: #d9dadc;
    color: #2d64e6;
}
.ms_btn-light-grey{
    background-color: #f5f5f5;
    color: #000;
}

/* footer */
footer{
    background-color: #07439c;
    color: #fff;
    padding: 4rem 0;
}
footer>.container>.row>.col-12.col-lg-6>img:first-child{
    margin-bottom: 2rem;
    display: block;
}
footer>.container>.row>.col-12.col-lg-6>img:nth-child(2){
    height: 1rem;
    margin-right: .6rem;
}

footer ul{
    list-style: none;
}
footer .container .row:nth-child(2) .col-12.col-lg-6 img{
    height: 2.5rem;
    display: block;
}